@for $i from 0 through 100 {
  .w-#{$i} {
    width: percentage($i / 100);
  }
}

@for $i from 0 through 100 {
  .h-#{$i} {
    height: percentage($i / 100);
  }
}

@for $i from 0 through 5 {
  .ml-#{$i} {
    margin-left: #{$i}rem
  }
}


body {
  color: white;
}
