.persona-picture {
  @include persona-size;
  cursor: pointer;

  &:hover {
    @include border-yellow
  }
}

.persona-picture-no-hover {
  @include persona-size
}

.alert-persona-picture {
  width: 100px;
  height: 100px;
}

.persona-input:checked + img {
  @include border-yellow
}

.grey-overlay {
  filter: grayscale(80%)
}
